TMDB_API_KEY=
GROQ_API_KEY=
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=films_phase0

NEXT_PUBLIC_SUPABASE_URL=https://qwqvittsmpfsoqeirzhx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_mkZf0ojePFV0SwDewSE_aA_TMM6qBHl

VITE_SUPABASE_URL=https://qwqvittsmpfsoqeirzhx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_mkZf0ojePFV0SwDewSE_aA_TMM6qBHl