TMDB_API_KEY=
GROQ_API_KEY=
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=films_phase0

NEXT_PUBLIC_SUPABASE_URL=https://your-ref.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_anon_key_here

VITE_SUPABASE_URL=https://your-ref.supabase.co
VITE_SUPABASE_ANON_KEY=your_anon_key_here